.prediction .chartBarsWrap {
    padding-left: 40px;
    margin: 238px 33px 70px 60px;
}
.prediction  .chartBars {
    position: relative;
    max-width: 600px;
    height: 300px;
    margin: 50px auto 100px;
  }
  .prediction .chartBars .bars {
    display: flex;
    justify-content: space-around;
    border-left: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    width: 100%;
    height: 100%;
    padding: 0;
    padding: 0 1%;
    margin: 0;
  }
  .prediction .chartBars .bars li {
    display: inline-block;
    flex: 0 1 24%;
    height: 100%;
    margin: 0;
    text-align: center;
    position: relative;
    font-size: 16px;
  }
  .prediction  .chartBars .bars li .bar {
    width: 100%;
    background: #49E;
    position: absolute;
    font-size: 1.5em;
    color: #fff;
    padding-top: 18px;
    bottom: 0;
    height: 0;
    overflow: hidden;
    font-weight: bold;
    outline: 2px solid transparent;
    transition: 1.5s height cubic-bezier(0.6, 0.4, 0.4, 1.1);
  }
  .prediction .chartBars .bars li .bar:after {
    content: '%';
    font-size: 22px !important;
    vertical-align: top;
    color: rgba(255, 255, 255, 0.8);
    margin-right: -8px;
  }
  .prediction .chartBars .bars li b {
    color: #eee;
    width: 100%;
    position: absolute;
    bottom: -2em;
    left: 0;
    text-align: center;
  }
  .prediction .chartBars .numbers {
    width: 50px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: absolute;
    left: -50px;
  }
  .prediction .chartBars .numbers li {
    text-align: right;
    padding-right: 1em;
    list-style: none;
    height: 59px;
    position: relative;
    font-size: 13px;
    bottom: 11px;
    right: -9px;
    color: #eee;
  }
  .prediction .chartBars .numbers li:after {
    content: "\00af";
    position: relative;
    right: -5px;
    font-size: 20px;
    top: 7px;
    color: rgba(255, 255, 255, 0.34);
  }
  .prediction .chartBars .numbers li:first-of-type {
    height: 63px;
    margin-top: -1px;
  }
  .prediction .chartBars1 .bar {
    border-top-right-radius: 30px;
  }
  .prediction .chartBars2 {
    max-width: 350px;
  }
  .prediction .chartBars2 .bars {
    padding: 0;
  }
  .prediction  .chartBars2 .bars li {
    flex: 0 1 25%;
  }
  .prediction .chartBars2 .bars li .bar {
    box-shadow: 0 0 20px #222;
  }
  .prediction  .chartBars3 {
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid #666;
    border-right: 1px solid #666;
  }
  .prediction  .chartBars3 .bars {
    border-color: #666;
    padding: 0;
  }
  .prediction .chartBars3 .bars li .bar {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    font-size: 22px !important;
  }
  .prediction  .chartBars3 .bars li .bar:after {
    font-size: 0.6em !important;
  }
  .prediction .chartBarsWrap.chartBarsHorizontal {
    flex-direction: column;
    padding-left: 70px;
  }
  .prediction  .chartBarsWrap.chartBarsHorizontal .bars b {
    color: #eee;
    width: 100%;
    position: absolute;
    bottom: initial;
    top: 1em;
    left: -102%;
    text-align: right;
  }
  .prediction  .chartBarsWrap.chartBarsHorizontal .chartBars {
    height: 200px;
  }
  .prediction .chartBarsWrap.chartBarsHorizontal .chartBars .bars {
    border: 0;
  }
  .prediction  .chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar {
    width: 0;
    padding-top: 10px;
    height: 100% !important;
    text-align: right;
    font-size: 1.5em;
    transition: 2s width cubic-bezier(0.6, 0.4, 0.4, 1.1);
  }
  .prediction  .chartBarsWrap.chartBarsHorizontal .chartBars .bars .bar:after {
    font-size: 0.6em !important;
    margin-right: 20px;
  }
  .prediction  .bars li .bar.greenBar {
    background-color: #6B8E23;
    background: radial-gradient(#99cb32, #6B8E23);
  }
  .prediction .bars li .bar.greenBarFlat {
    background-color: #6B8E23;
  }
  .prediction .bars li .bar.blueBar {
    background-color: #49E;
    background: radial-gradient(#8abff4, #49E);
  }
  .prediction .bars li .bar.blueBarFlat {
    background-color: #49E;
  }
  .prediction .bars li .bar.orangeBar {
    background-color: orange;
    background: radial-gradient(#ffc04d, #FFA500);
  }
  .prediction  .bars li .bar.orangeBarFlat {
    background-color: orange;
  }
  .prediction .bars li .bar.purpleBar {
    background-color: #6e46af;
    background: radial-gradient(#9778c9, #6e46af);
  }
  .prediction .bars li .bar.purpleBarFlat {
    background-color: #6e46af;
  }
  .prediction .box-piesite {
    text-align: center;
    font-size: 22px;
  }
  .prediction .piesite {
    position: relative;
    width: 1em;
    height: 1em;
    font-size: 10em;
    cursor: default;
  }
  .prediction .piesite .percent {
    position: absolute;
    top: 1.1em;
    left: 0.1em;
    width: 100%;
    font-size: 0.3em;
    text-align: center;
    z-index: 2;
  }
  .prediction .piesite .percent .symbol {
    font-size: 0.5em;
    vertical-align: top;
    opacity: 0.5;
  }
  .prediction .piesite > #slice {
    position: absolute;
    width: 1em;
    height: 1em;
    clip: rect(0px, 1em, 1em, 0.5em);
  }
  .prediction .piesite > #slice.gt50 {
    clip: rect(auto, auto, auto, auto);
  }
  .prediction .piesite > #slice > .pie {
    position: absolute;
    border: 0.1em solid #444;
    width: 1em;
    height: 1em;
    clip: rect(0em, 0.5em, 1em, 0em);
    border-radius: 0.5em;
  }
  .prediction li.design .piesite > #slice > .pie {
    border-color: #49E;
  }
  .prediction li.usability .piesite > #slice > .pie {
    border-color: #FFA500;
  }
  .prediction li.creativity .piesite > #slice > .pie {
    border-color: #6B8E23;
  }
  .prediction .piesite > #slice > .pie.fill {
    transform: rotate(180deg) !important;
  }
  .prediction .piesite.fill > .percent {
    display: none;
  }
  .prediction .piesite:after {
    content: '';
    display: block;
    position: absolute;
    top: 0.1em;
    left: 0.1em;
    width: 0.8em;
    height: 0.8em;
    background: #30303A;
    border-radius: 100%;
    z-index: 1;
  }
  .prediction .piesite:before {
    content: '';
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    opacity: 0.5;
    z-index: 0;
  }
  .prediction .piesite:before {
    background: rgba(255, 255, 255, 0.1);
  }
  .prediction .box-piesite ul {
    padding: 0;
  }
  .prediction .box-piesite ul li {
    display: inline-block;
    margin: 10px 20px;
  }
  .prediction .chartBarsHorizontal .chartBars .bars {
    flex-direction: column;
  }
  @media screen and (min-width: 600px) {
    .prediction .bar:before {
      font-size: 2em !important;
    }
    .prediction .chartBars3 .bar:before {
      font-size: 1.5em !important;
    }
  }
  .prediction .tooltip > .tooltipContent {
    display: block;
    position: absolute;
    background: none repeat scroll 0 0 #222;
    color: #F0B015;
    font-family: 'Helvetica';
    font-size: 0.8em;
    font-weight: normal;
    line-height: 1.5em;
    padding: 16px 15px;
    min-width: 200px;
    max-width: 500px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -110%);
    margin-left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    text-align: center;
    z-index: 2;
    text-transform: none;
    transition: all 0.3s ease-in-out;
  }
  .prediction .tooltip:hover > .tooltipContent {
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 99;
    transform: translate(-50%, -130%);
    transition: all 0.2s ease;
  }
  .prediction .tooltip .tooltipContent:after {
    border-color: #222 rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 15px 15px 0;
    bottom: -15px;
    content: "";
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
    width: 0;
  }
  .prediction .bar-graph {
    font-family: 'Quicksand', sans-serif;
    color: #ddd;
  }
  .prediction .bar-graph h1,
  h2,
  h3 {
    text-align: center;
  }
  .prediction .bar-graph h1 {
    margin: 100px auto 0;
    color: #F0B015;
  }
  .prediction .bar-graph h2 {
    margin: 20px auto 0;
    font-size: 1.2em;
  }
  